<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top text-center">
    <div class="col-12 col-sm">
      <p class="text-ddd">
        لا يوجد حقوق على أي مادة مستخدمة في الموقع، يمكنك إعادة استخدامها كما
        تشاء بدون الرجوع إلينا.
      </p>
    </div>

    <div class="col-12 col-sm"></div>

    <div class="col-12 col-sm">
      <h5>الصفحات الرئيسية</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/" class="nav-link p-0 text-ddd">الصفحه الرئيسية</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/quran" class="nav-link p-0 text-ddd">المصحف</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link p-0 text-ddd" href="/settings">الإعدادات</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-sm">
      <h5>الأذكار</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/citationForMorning" class="nav-link p-0 text-ddd"
            >أذكار الصباح</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/eveningPrayers" class="nav-link p-0 text-ddd"
            >أذكار المساء</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="/otherRemembrancesAndOtherSupplications"
            class="nav-link p-0 text-ddd"
            >اذكار اخرى وادعية اخرى</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/roqia" class="nav-link p-0 text-ddd">الرقية الشرعية</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-sm">
      <h5>قد يهمك</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
            href="https://github.com/marwanzayed-coder/quran/issues"
            class="nav-link p-0 text-ddd"
            >ابلاغ عن مشكله او اضافه تحديث</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="https://github.com/marwanzayed-coder/quran"
            class="nav-link p-0 text-ddd"
            >المصدر</a
          >
        </li>
      </ul>
    </div>
  </footer>
</div>
