<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body dir="rtl">
    <%- include('./partials/header') %>

    <section class="morning">
      <div class="container text-center mt-5">
        <div class="text">
          <h1 class="mb-4">أذكار الصباح</h1>
          <p class="h4">عددها ٣١ ذكر</p>
        </div>
        <div id="row"></div>
      </div>
    </section>

    <%- include('./partials/footer') %>
    <script src="/js/azkar.js"></script>
  </body>
</html>
