<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body dir="rtl">
    <%- include('./partials/header') %>

    <section class="quran mt-3">
      <div class="container">
        <div class="row" id="quran"></div>
      </div>
    </section>

    <%- include('./partials/footer') %>
    <script src="/js/quran.js"></script>
  </body>
</html>
