<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body dir="rtl">
    <%- include('./partials/header') %>

    <section class="morning">
      <div class="container text-center mt-5">
        <div class="text">
          <h1 class="mb-4">
            الرُّقية الشرعية من القرآن الكريم و من السنه النبويه
          </h1>
          <p class="h4">
            وعددها ٣٢ ذكر صحيح من السنة النبوية المطهرة والقرأن الكريم
          </p>
        </div>
        <div id="row-roqia"></div>
      </div>
    </section>

    <%- include('./partials/footer') %>
    <script src="/js/azkar.js"></script>
  </body>
</html>
