<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body dir="rtl">
    <%- include('./partials/header') %>

    <section class="sora mt-5">
      <div class="container text-center" id="sora"></div>
    </section>
    <%- include('./partials/footer') %>
    <script src="/js/sora.js"></script>
  </body>
</html>
